*{
    width: 100%;
    margin:0px;
    align-content: center;
    font-family: 'Rubik', sans-serif;
    color:black    

}   

header{
    background-color: rgba(255, 255, 255, 0.289);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
header h1{
    padding-top: 10px;
    font-family: 'Rubik', sans-serif;    font-weight:lighter;
    color: rgb(255, 255, 255);
    font-size: 4rem;
    text-shadow: rgba(0, 0, 0, 0.354) 1px 0 10px;
}  

h2{
    padding-top: 10px;
    font-weight:lighter;
}
header h3{
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight:lighter;
}
main{
    margin-top: 30px;
    display:flex;
    flex-direction: column; 
    flex-wrap: wrap;   
}
main h2{
    color: black;
}
button{
    background-color: none;
    width:100px;
    height: 80px;
    border-radius: 25px;
    margin:25px 10px 10px 10px;
    border:none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
button a{
    color:rgba(255, 255, 255, 0.367)
}

.bootYjs{
    display:inline-flex;
    align-items:center;
}
